.btn {
  display: inline-block;
  margin-bottom: 0;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border-color: transparent;
  border: 2px solid transparent;
  @include transition(all, ease, .3s);
  @include button-size(12px, 36px, $font-size-default, 12px, 0px);
}

.btn-lg {
  @include button-size(16px, 48px, $font-size-lg, 16px, 0px);
}

.btn-sm {
  @include button-size(8px, 18px, $font-size-sm, 8px, 0px);
}

.btn-default {
  & {
    @include button-style(#fff, $color-grey, transparent);
  }
  &.cta {
    @include button-style(#fff, $color-brand, transparent);
  }
  &.danger {
    @include button-style(#fff, $color-danger, transparent);
  }
  &.warning {
    @include button-style($color-grey, $color-warning, transparent);
  }
  &.success {
    @include button-style(#fff, $color-success, transparent);
  }
  &.info {
    @include button-style(#fff, $color-info, transparent);
  }
}

.btn-ghost {
  & {
    @include button-style($color-grey, transparent, $color-grey);
    &:hover, &:focus, &.focus {
      @include button-style(#fff, $color-grey, $color-grey);
    }
  }
  &.cta {
    @include button-style($color-brand, transparent, $color-brand);
    &:hover, &:focus, &.focus {
      @include button-style($color-grey, $color-brand, $color-brand);
    }
  }
  &.danger {
    @include button-style($color-danger, transparent, $color-danger);
    &:hover, &:focus, &.focus {
      @include button-style(#fff, $color-danger, $color-danger);
    }
  }
  &.warning {
    @include button-style($color-warning, transparent, $color-warning);
    &:hover, &:focus, &.focus {
      @include button-style($color-grey, $color-warning, $color-warning);
    }
  }
  &.success {
    @include button-style($color-success, transparent, $color-success);
    &:hover, &:focus, &.focus {
      @include button-style(#fff, $color-success, $color-success);
    }
  }
  &.info {
    @include button-style($color-info, transparent, $color-info);
    &:hover, &:focus, &.focus {
      @include button-style(#fff, $color-info, $color-info);
    }
  }
}
