//icons
.style-icons {
	li {
		width: 16%;
		height: 100px;
		position: relative;
	}
	.style-icon-glyph {
		color: $color-grey;
		font-size: 48px;
	}
	.style-icon-meta {
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
	}
}

.style-grid {
	.row {
		padding-top: $spacing-unit-sm;
		padding-bottom: $spacing-unit-sm;
	}
	.column, .columns {
		background-color: $color-brand;
		text-align: center;
	}
}

.style-buttons {
	button {
		margin: $spacing-unit;
	}
}
