// _mixins/_links.scss
@mixin link-default ($color:$color-brand) {
  &,&:visited {
    color: $color;
  }
  &:hover, &:focus {
    color: darken($color, 20%);
  }
}
@mixin link-underline-expand($color:$color-brand) {
  &,&:visited {
    color: $color;
  }
  &:hover, &:focus {
    color: darken($color, 20%);
  }
  &:before, &:after {
		content: "";
		display: block;
		position: absolute;
		border-bottom: .1em solid darken($color,20%);
    margin-left: auto;
    margin-right: auto;
    bottom:0;
		@include transition(all, .3s, ease);
    left:50%;
    @include transform(translateX(-50%));
    width: 0;
	}
	&:hover:before, &:hover:after{
    width: 100%;
	}
}


@mixin link-background($color1:$color-brand, $color2: #fff) {
  &, &:visited {
    color: $color1;
    padding: 0 .5em;
  }
  &:hover, &:focus {
    background-color: $color1;
    color: $color2;
  }
}
